<div class="container">
  <div class="details">
      <img *ngIf="currentStream==='spotify'"  src="{{spotifyTrack.album.images[0].url}}" alt="" class="image">
      <img *ngIf="currentStream==='soundCloud'"  src="{{soundCloudTrack.artwork_url}}" alt="" class="image">
      <div class="songDets">
        <div class="top">
          <h4 *ngIf="currentStream==='spotify'"  style="margin:0;position:absolute;bottom:0;overflow:scroll;">{{spotifyTrack.name}}</h4>
          <h4 *ngIf="currentStream==='soundCloud'"  style="margin:0;position:absolute;bottom:0;overflow:scroll;white-space:nowrap;">{{soundCloudTrack.title}}</h4>
        </div>
        <div class="bottom">
          <p *ngIf="currentStream==='spotify'"  style="margin:0;overflow:scroll;">{{spotifyTrack.artists[0].name}}</p>
          <p *ngIf="currentStream==='soundCloud'"  style="margin:0;overflow:scroll;">{{soundCloudTrack.user.username}}</p>
        </div>
      </div>
  </div>
  <div class="middle">
    <div class="topControls">
      <div class="timeContainer">
      <h5 class="time">{{leftTime}}</h5>
    </div>
    <mat-slider class = "slider"
    thumbLabel
    [displayWith] = "formatLabel"
    max = "{{songDuration}}"
    value="{{songPosition}}"
    (input)="newPosition = $event.value"
    (mousedown)="changePositionDown()"
    (mouseup)="changePositionUp()"></mat-slider>
    <div class="timeContainer">
        <h5 class="time">{{rightTime}}</h5>
    </div>
    </div>

    <div class="botControls">
      <div class="controls">
        <img src="../../assets/icons/previous.png" class="control nextprev" style="margin-left:0;" (click)="prevSong()">
        <img src="../../assets/icons/playpause.png" class="control playpause" (click)="togglePlay()" >
        <img src="../../assets/icons/next.png" class="control nextprev" (click)="nextSong()">
      </div>
    </div>
  </div>
</div>

