.main-container{
  position:relative;
  height:91vh;
}

.main-view-container{
  /* position: relative; */
  background-color:gray;
}

.header-icon{
  padding:2%;
  color:#ffffff;
}

.sidebar-container{
  background-color:black;
  width:230px;
  display:block;
}

.sidebar-main-text{
  color:white;
  display:block;
  /* margin:auto; */
}

.sidebar-subtext{
  color:white;
  /* display:block; */
  padding-top:-10px;
}

.sidebar-divider{
  color:darkgray;
  background-color:darkgray;
  /* display:block; */
  margin:auto;
  height:1px;
  width: 80%;
}

mat-list-item {
  /* min-height: 20px; */
  height: 25px;
  /* margin-top:-20px; */
  /* background-color:lightblue; */
}

.mainItem{
  height:40px;
  /* margin:auto; */
  padding-top:0;
  padding-bottom:0;
  text-align:center;
  /* background-color:red; */
  position:relative;
}

button h2{
  display:absolute;
  /* background-color:green; */
  top:50%;
  transform: translate(0, -40%);

}

button h4{
  /* margin-left:10px; */
  height:30px;
  display:absolute;
  /* background-color:blue; */
  /* margin-top:-10px; */
  top:65%;
  transform: translate(0, -65%);
}

.subItem{
  margin-left:20px;
  margin-top:-20px;
  height:30px;
  /* margin:auto; */
  padding:0;
  /* background-color:red; */
  position:relative;
}
