

<form action="" class="searchbar">
  <!-- <div> -->
    <input type="text" [formControl]="query" placeholder="Search {{currentSelected}} ..."
    class="inputField">
  <!-- </div> -->
</form>

<div class="selectors">
  <!-- artists, albums, genres, tracks, playlists -->
  <div *ngFor="let selector of selectors;index as i;" style="display:inline-block;">
    <div *ngIf="selector.isSelected;else notSelected;"  class="selector"
    style="background-color:white; color:#191414" >
      {{selector.name}}
    </div>
    <ng-template #notSelected>
      <div class="selector" (click)="toggleSelected(i)">
        {{selector.name}}
      </div>
    </ng-template>
  </div>
</div>


<div class="resultContainer" *ngIf="currentSelected==='Artists' && !spotifyArtistSelected;" >
    <app-search-result *ngFor="let artist of artistResults"
    [artistRes]="artist" (selectedSpotifyArtist)="setSpotifyArtist($event)"></app-search-result>
</div>
<!-- <ng-template #viewArtist> -->
  <div class="resultContainer" *ngIf="currentSelected==='Artists' && spotifyArtistSelected;">
    <app-view-artist [spotifyArtist]="selectedSpotifyArtist" (onBack)="artistReturned($event)" [stream]="'spotify'"></app-view-artist>
  </div>
<!-- </ng-template> -->
<div class="resultContainer" *ngIf="currentSelected==='Artists'&& !scArtistSelected;">
  <app-search-result *ngFor="let artist of soundCloudArtists"
  [soundcloudArtist]="artist" (selectedscArtist)="setscArtist($event)"></app-search-result>
</div>
<div class="resultContainer" *ngIf="currentSelected==='Artists' && scArtistSelected;">
    <app-view-artist [scArtist]="selectedSCArtist" (onBack)="scArtistReturned($event)" [stream]="'soundcloud'"></app-view-artist>
  </div>

<div class="resultContainer" *ngIf="currentSelected==='Tracks'"
infinite-scroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="200"
[scrollWindow]="false"
(scrolled)="moreSpotifySongs()">
    <app-track-search *ngFor="let track of spotifyTracks;index as i;"
    [spotifyTrack]="track" [index]="i"></app-track-search>
</div>
<div class="resultContainer" *ngIf="currentSelected==='Tracks'"
infinite-scroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="200"
[scrollWindow]="false"
(scrolled)="morescSongs()">
  <app-track-search *ngFor="let track of soundCloudTracks;index as i;"
  [soundCloudTrack]="track"[index]="i"></app-track-search>
</div>

<div class="resultContainer" *ngIf="currentSelected==='Albums'&& !spotifyAlbumSelected;" >
    <app-album-search *ngFor="let album of spotifyAlbums"
    [spotifyAlbum]="album" (selectedSpotifyAlbum)="setSpotifyAlbum($event)"></app-album-search>
</div>
<div class="resultContainer" *ngIf="currentSelected==='Albums' && spotifyAlbumSelected;">
    <app-view-album [spotifyAlbum]="selectedSpotifyAlbum" (onBack)="spotifyAlbumReturned($event)" [stream]="'spotify'"></app-view-album>
  </div>
<div class="resultContainer" *ngIf="currentSelected==='Albums'&& !scAlbumSelected; ">
  <app-album-search *ngFor="let playlist of soundCloudAlbums"
  [soundCloudPlaylist]="playlist" (selectedscAlbum)="setscAlbum($event)"></app-album-search>
</div>
<div class="resultContainer" *ngIf="currentSelected==='Albums' && scAlbumSelected;">
    <app-view-album [scPlaylist]="selectedscAlbum" (onBack)="scAlbumReturned($event)" [stream]="'soundcloud'"></app-view-album>
  </div>

<div class="resultContainer" *ngIf="currentSelected==='Playlists' && !spotifyPlaylistSelected" >
    <app-playlist-search *ngFor="let playlist of spotifyPlaylists"
    [spotifyPlaylist]="playlist" (selectedSpotifyPlaylist)="setSpotifyPlaylist($event)"></app-playlist-search>
</div>
<div class="resultContainer" *ngIf="currentSelected==='Playlists' && spotifyPlaylistSelected;">
    <app-view-playlist [spotifyPlaylist]="selectedSpotifyPlaylist" (onBack)="spotifyPlaylistReturned($event)" [stream]="'spotify'"></app-view-playlist>
  </div>
<div class="resultContainer" *ngIf="currentSelected==='Playlists' && !scPlaylistSelected;">
  <app-playlist-search *ngFor="let playlist of soundCloudPlaylists"
  [soundCloudPlaylist]="playlist" (selectedscPlaylist)="setscPlaylist($event)"></app-playlist-search>
</div>
<div class="resultContainer" *ngIf="currentSelected==='Playlists' && scPlaylistSelected;">
    <app-view-playlist [scPlaylist]="selectedscPlaylist" (onBack)="scPlaylistReturned($event)" [stream]="'soundcloud'"></app-view-playlist>
  </div>


<!-- <app-search-result ></app-search-result> -->
